

<div class="content"  style="padding-top: 50px; padding-left: 600px;">

  
    
      <input type="text" placeholder="{{'create.title' | translate}}" #title><br>
      <input type="text" placeholder="{{'create.description' | translate}}" #description><br>
      <select #pending>
        <option value="">{{'create.setectOne' | translate}}</option>
        <option value="Pending">{{'create.pending' | translate}}</option>
        <option value="On Going">{{'create.onGoing' | translate}}</option>
        <option value="Complete">{{'create.complete' | translate}}</option>
      </select> <br>
      <button (click)="addTask(title.value,description.value, pending.value )">{{ 'create.addTask' | translate}}</button>
      <app-read></app-read>
 

  
 

</div>
