<div class="left" *ngIf="error">

    <input type="text" placeholder="title" #title>
    <input type="text" placeholder="description" #description>
    <select #pending>
      <option value="">Sletect One</option>
      <option value="Pending">pending</option>
      <option value="On Going">On Going</option>
      <option value="Complete">Complete</option>
    </select> 
  
    <button (click)="addTask(title.value,description.value, pending.value )">Add a Task</button>
    <app-read></app-read>
</div>
